
/*.x-unselectable a, .x-unselectable a *
{
	cursor: pointer;
}*/

/* Input box editable in Grid template column under Chorme */
/*.x-unselectable input
{
    -webkit-user-select: auto;
}*/

.f-hidden {
	display: none;
}

.f-inline-block {
	display: inline-block;
}


.cursor-pointer {
    cursor: pointer;
}


.gray {
    color: gray;
}


.x-item-disabled {
    opacity: .6;
    -moz-opacity: .6;
    filter: alpha(opacity=60);
}



/* elbow */
.x-elbow {
    float: left;
    height: 13px;
    width: 18px;
    background: transparent url(../images/elbow.gif) no-repeat 0px 0px;
}

.x-elbow-line {
    float: left;
    height: 13px;
    width: 18px;
    background: transparent url(../images/elbow-line.gif) no-repeat 0px 0px;
}

.x-elbow-end {
    float: left;
    height: 13px;
    width: 18px;
    background: transparent url(../images/elbow-end.gif) no-repeat 0px 0px;
}

.x-elbow-empty {
    float: left;
    height: 13px;
    width: 18px;
    background: transparent url(../images/elbow-empty.gif) no-repeat 0px 0px;
}



.x-boundlist-item-disabled {
    background: #fff none repeat scroll 0% 0% !important;
    border: 1px solid #fff !important;
    cursor: default;
    color: gray;
}



.f-input-text-hidden {
	position: absolute;
	top: 0;
	left: -10000px;
	width: 1px;
	height: 1px;
	border: none;
	padding: 0;
}



.f-field-ddlpop-autowidth .x-boundlist-item {
    white-space: nowrap;
}

/* radiogroup background color */
/*.x-form-radio-group .x-panel-body
{
    background-color: transparent;
}


.x-form-radio-wrap-inner
{
    white-space: nowrap;
}*/


/* 
 * Ext.ux.layout.CenterLayout
 */
/*.ux-layout-center-item
{
    margin: 0 auto;
    text-align: left;
}
.ux-layout-center .x-panel-body, body.ux-layout-center
{
    text-align: center;
}


.f-accrodion-link-ul li
{
    margin-bottom: 2px;
    padding: 1px 5px;
    height: 20px;
    border-bottom: #eee 1px solid;
}

.f-accrodion-link-ul li.f-accrodion-link-hover
{
    border: #ffbd69 1px solid;
    background-image: url(../images/accordion_link_hover2.gif);
    background-repeat: repeat-x;
}
.f-accrodion-link-ul li.f-accrodion-link-select
{
    background-image: url();
    border: #ffb74c 1px solid;
    background-color: #ffe6a0;
}


.x-btn button
{
    margin: 0 3px !important;
}*/


/* This style defined in extjs is not that precise. */
/*.x-tab-strip .x-tab-with-icon span.x-tab-strip-text
{
    background-position: 0 5px;
}*/


/* allow grid text selection in Firefox and WebKit based browsers */
/*.x-grid-selectable .x-grid-row td,
.x-grid-selectable .x-grid-summary-row td,
.x-grid-selectable .x-grid-cell-text,
.x-grid-selectable .x-grid-hd-text,
.x-grid-selectable .x-grid-hd,
.x-grid-selectable .x-grid-row
{
    -moz-user-select: inherit;
    -khtml-user-select: text;
    -webkit-user-select: text;
}*/



.f-formrow .x-column-form-item {
	margin-bottom: 5px;
}

