


.x-grid .x-grid-empty {
    font-size: 13px;
    margin-top: 20px;
    text-align: center;
}






.x-grid .x-grid-td, .x-grid .x-grid-summary-row td {
    vertical-align: middle;
}

.x-grid.row-align-top .x-grid-td, .x-grid.row-align-top .x-grid-summary-row td {
    vertical-align: top;
}

.x-grid.row-align-bottom .x-grid-td, .x-grid.row-align-bottom .x-grid-summary-row td {
    vertical-align: bottom;
}

/*
.x-grid .x-grid-td.x-grid-cell-special
{
    vertical-align: top;
}
*/

.x-grid .x-grid-td.x-grid-cell-row-expander {
    vertical-align: top;
}





.f-grid-cell-inner-image img {
    width: 16px;
    height: 16px;
}


.f-grid-static-checkbox {
    background-position: left center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-image: url(../images/tick.png);
    width: 16px;
    height: 16px;
}

    .f-grid-static-checkbox.unchecked {
        background-image: url(../images/bullet_cross.png);
    }



.f-grid-checkbox {
    background-position: left center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-image: url(../images/checked.gif);
    width: 16px;
    height: 16px;
}

    .f-grid-checkbox.disabled {
        background-image: url(../images/checked_disabled.gif);
    }

    .f-grid-checkbox.unchecked {
        background-image: url(../images/unchecked.gif);
    }

        .f-grid-checkbox.unchecked.disabled {
            background-image: url(../images/unchecked_disabled.gif);
        }
